# ==========================
# Environment Files
# ==========================
.env
backend/.env
frontend/.env

# ==========================
# Python
# ==========================
backend/.venv/
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/

# ==========================
# Node
# ==========================
node_modules/
dist/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Dataset
# ==========================
datasets/raw/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db